<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Post</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Update Post</h2>
{{#posts}}
    <a href="/posts">Show all posts</a>
        <form method="PUT" action="/updatePost/{{id}}">
            <table class="table">

                <tr>
                    <td>ID: <input type="text" name="id" value="{{id}}" readonly></td>
               </tr>
                <tr>
                    <td>Title: <input type="text" name="title" value=""></td>
                </tr>
                <tr>
                    <td>Text: <input type="text" name="text" value=""></td>
                </tr>
                <tr>
                    <td>Username: <input type="id" name="" value="{{username}}" readonly></td>
                </tr>
                <td><input type="submit" name="submit" value="Update Post" class="btn btn-secondary"></td>
            </table>
        </form>
{{/posts}}
</div>
</body>
</html>